.row
  .col-md-12
    .x_panel.tile.fixed-height-320
      .x_title
        %h2="#{@job.getName} (#{@job.getId})"
        .clearfix
      .x_content
        .widget_summary
          .col-md-12
            .row
              %h3 Performance Stats
              %table.table
                %thead
                  %tr
                    %th Device
                    %th Run Count
                    %th Average Runtime
                    %th Standard Deviation
                %tbody
                  -@job.getDevicePerformance.getMeasurements.each do |entry|
                    %tr
                      %td=entry[0]
                      %td=entry[1].length
                      %td="#{Java::FrDynamoPerformance::Statistics.average(entry[1])} ms" 
                      %td=Java::FrDynamoPerformance::Statistics.stdev(entry[1])

            .row
              %h3 Active Devices
              %table.table
                %thead
                  %tr
                    %th Name
                    %th Type
                %tbody
                  -@job.getActiveDevices.each do |device|
                    %tr
                      %td=device.getName
                      %td=device.getType
