.row
  .col-md-12
    .x_panel.tile.fixed-height-320
      .x_title
        %h2 Machines
        .clearfix
      .x_content
        .widget_summary
          .col-md-12
            .row
              %h3 Currently Available
              %table.table
                %thead
                  %tr
                    %th ID
                    %th IP
                    %th Devices
                    %th Actions

                %tbody
                  -@machines.each do |node|
                    %tr
                      %td=node.getInstanceId
                      %td=node.getPublicIp
                      %td
                        -node.getDevices.each do |device|
                          %span= device.getPerformanceIdentifier
                      %td
                        %form{ :method=>"post", :action=>"/machines/unbook" }
                          %input{ :type=>"hidden", :name=>"instance_id", :value=>node.getInstanceId }
                          %button.btn.btn-danger.btn-xs{ :type=>"submit" }
                            %i.fa.fa-remove

            .row
              %h3 Book Resources
              %form.form-horizontal.col-md-12{:method=>'post', :action=>'/machines/book'}
                .form-group
                  %label.col-md-2.control-label Instance Type
                  .col-md-2
                    %select.form-control{:name=>'type'}
                      -Pricing.prices.each do |instance|
                        %option{:value=>instance[:type], :selected=> (instance[:type] == 't2.micro' ? 'selected' : nil )}="#{instance[:type]} (#{instance[:price]} $)"

                .form-group
                  %label.col-md-2.control-label Count
                  .col-md-2
                    %input.form-control{:type=>'number', :name=>'count', :value=>'1'}
                .form-group
                  %label.col-md-2
                  .col-md-2
                    %button.btn-success.form-control
                      Book
