.row
  .col-md-12
    .x_panel.tile.fixed-height-320
      .x_title
        %h2 Booked Machines
        .clearfix
      .x_content
        .widget_summary
          %h4="#{@count} machines of type #{@type} are have been started. They should appear in the machine overview."
